       <nav class="navbar navbar-inverse navbar-fixed-top">

				<div class="navbar-inner">

					<div class = "container">

						<div class = "navbar-header"> 

							<a href = "#" class = "navbar-brand">Bucharest</a>

							<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
					 	  	<span class = "icon-bar"></span>
					 	  	<span class = "icon-bar"></span>
					 	  	<span class = "icon-bar"></span>
					 	  	</button>

				 	    </div>

						<div collapse = "isCollapsed" class="navbar-collapse navbar-responsive-collapse floated_right" 
						     ng-class="{collapse: isCollapsed}">
	  
				    			<ul class="nav navbar-nav">
				      
				      				
				      				<li><a href = '' scroll-to = 'top_page'>Home</a></li> 
				      				
				      				<li><a href = '' scroll-to = 'places' offset = '105'>Places</a></li> 
				      				
		                            <li><a href = '' scroll-to = 'infrastructure' offset = '105'>Infrastructure</a></li> 
				      				
				      				<li><a href = '' scroll-to = 'contact' offset = '105'>Contact</a></li> 

				    			</ul>

		    			</div>

		    		</div>
		    		
		    		<!-- End container -->

		    	</div>
        
                    <!-- End navbar-inner -->

        </nav>